<style> 
      body { font-family:sans-serif; background:RGB(0,200,0); margin: 0; padding: 0; } 
      header { background: RGB(255,0,0); color: white; text-align: center; padding: 15px 0; }
      .container { width: 90%; max-width: 800px; margin: 20px auto; 
                   display: grid; grid-template-columns: 1fr 1fr; gap: 15px; } 
      .card { background: rgb(171, 46, 175); padding: 18px; border-radius: 10px; 
              box-shadow: 0 3px 6px rgba(59, 16, 160, 0.89); text-align: center; } 
      .card h3 { margin: 10px 0; font-family:FORTE; font-size:25px;background-color: rgb(171, 46, 175); }
       .card p { font-size:25px; color:rgb(221, 210, 220); }
       .card a { display: inline-block; margin-top: 15px; padding: 12px 16px; font-size: 24px;
                 background: white; color: rgb(17, 196, 250); text-decoration: none; border-radius: 5px; } 
       .card a:hover { background: #d8fefff3; font-size:35px;} 
    footer { font-size: 24px; text-align: center; padding: 20px; background: rgb(177, 71, 163); color: white; margin-top: 20px; } 
  </style>